APP_NAME=Telegram Shop Platform API
APP_ENV=production
DEBUG=false
API_V1_PREFIX=/api/v1

POSTGRES_DB=telegram_shop
POSTGRES_USER=telegram_shop
POSTGRES_PASSWORD=#generate password for PostgreSQL. Command for this - openssl rand -base64 32
DATABASE_URL=postgresql+asyncpg://telegram_shop:# put password here #@postgres:5432/telegram_shop
REDIS_URL=redis://redis:6379/0

TELEGRAM_BOT_TOKEN=#<token Bot 2>
TELEGRAM_WEBAPP_BOT_TOKEN=#<token Bot 1>
TELEGRAM_SELLER_CHAT_ID=#<chat_id seller-группы>
TELEGRAM_SELLER_BOT_USERNAME=#<username Bot 2 without @>
TELEGRAM_SELLER_WEBHOOK_SECRET=#generate secret - openssl rand -hex 32
TELEGRAM_CUSTOMER_BOT_TOKEN=#<token Bot 1>
TELEGRAM_CUSTOMER_BOT_USERNAME=#<username Bot 1 without @>
TELEGRAM_CUSTOMER_WEBHOOK_SECRET=#generate another secret - openssl rand -hex 32

JWT_SECRET_KEY=#generate long secret - openssl rand -hex 64
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=60
TELEGRAM_AUTH_MAX_AGE_SECONDS=86400
SELLER_REGISTRATION_EXPIRES_MINUTES=30
SELLER_VERIFICATION_CODE_EXPIRES_MINUTES=10

UPLOADS_DIR=uploads
PUBLIC_UPLOADS_URL=https://api.stylexac.ru/uploads
PUBLIC_API_BASE_URL=https://api.stylexac.ru
PUBLIC_MINI_APP_BASE_URL=https://mini.stylexac.ru
PUBLIC_SELLER_PANEL_BASE_URL=https://seller.stylexac.ru
MANUAL_PAYMENT_EXPIRATION_WORKER_ENABLED=true
MANUAL_PAYMENT_EXPIRATION_POLL_SECONDS=60

BACKUP_ENABLED=true
BACKUP_ENVIRONMENT=production
BACKUP_LOCAL_DIR=backups
BACKUP_REMOTE_DIR=/TelegramShopPlatform/storage
BACKUP_INTERVAL_HOURS=6
BACKUP_RETENTION_DAYS=5
BACKUP_RETENTION_MAX_COUNT=20
BACKUP_RESTORE_VERIFY_ENABLED=true
YANDEX_CLIENT_ID=
YANDEX_CLIENT_SECRET=
YANDEX_REFRESH_TOKEN=
BACKUP_TELEGRAM_NOTIFICATIONS_ENABLED=true

CORS_ORIGINS=https://stylexac.ru,https://www.stylexac.ru,https://mini.stylexac.ru,https://seller.stylexac.ru

LOG_LEVEL=INFO
LOG_FORMAT=json
ERROR_MONITORING_ENABLED=false
SENTRY_DSN=

CACHE_ENABLED=true
CACHE_PUBLIC_PRODUCTS_TTL_SECONDS=60
CACHE_PUBLIC_PRODUCT_DETAIL_TTL_SECONDS=60
CACHE_TAXONOMY_TTL_SECONDS=300
CACHE_BANNERS_TTL_SECONDS=60
CACHE_REVIEWS_TTL_SECONDS=120

RATE_LIMIT_ENABLED=true
RATE_LIMIT_REDIS_ENABLED=true
RATE_LIMIT_IN_MEMORY_FALLBACK_ENABLED=true
RATE_LIMIT_GLOBAL_REQUESTS=600
RATE_LIMIT_GLOBAL_WINDOW_SECONDS=60
RATE_LIMIT_AUTH_REQUESTS=10
RATE_LIMIT_AUTH_WINDOW_SECONDS=60
RATE_LIMIT_UPLOAD_REQUESTS=30
RATE_LIMIT_UPLOAD_WINDOW_SECONDS=60
RATE_LIMIT_CHECKOUT_REQUESTS=10
RATE_LIMIT_CHECKOUT_WINDOW_SECONDS=60
RATE_LIMIT_PROMO_REQUESTS=30
RATE_LIMIT_PROMO_WINDOW_SECONDS=60
RATE_LIMIT_REVIEW_REQUESTS=10
RATE_LIMIT_REVIEW_WINDOW_SECONDS=60

SELLER_PANEL_VITE_API_BASE_URL=https://api.stylexac.ru/api/v1
MINI_APP_VITE_API_BASE_URL=https://api.stylexac.ru/api/v1
VITE_TELEGRAM_BOT_USERNAME=#name bot 1 without @
